@using EntityLayer.Concrete
@model List<ImageFile>

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Galeri</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            Galeri
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model)
                            {
                <div class="col-sm-2">
                    <a href="@item.ImagePath" data-toggle="lightbox" data-title="@item.ImageName" data-gallery="gallery">
                        <img src="@item.ImagePath" class="img-fluid mb-2" alt="@item.ImageName" />
                    </a>
                </div>}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <button href="#" class="btn btn-info">Foto Ekle+</button>
                </div>
            </div>
        </div>
    </div>
</section>
