@model EntityLayer.Dtos.WriterDto
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Registration Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="#"><b>MVC PROJE </b>KAMPI</a>
        </div>
        @if (TempData["Writer"] != null)
        {
            <div class="alert alert-success">
                <strong><span class="glyphicon glyphicon-ok"></span> @Model.WriterEmail</strong> Kayıt Tamamlandı !<br />
                <h3><a href="/Login/WriterLogin">Üye Girişi İçin Tıklayınız</a></h3>
            </div>
        }
        else
        {
            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg text-bold">Üyelik Formu</p>
                    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                    {@Html.AntiForgeryToken()
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" required name="WriterName" placeholder="Adınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" required name="WriterSurName" placeholder="Soyadınız">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" required name="WriterEmail" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" required name="WriterPassword" placeholder="Şifre">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" class="btn btn-info btn-block" value="Kayıt">
                        </div>
                    </div>
                }
                    <div class="social-auth-links text-center">
                        <p>- VEYA -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i>
                            Facebook ile Kayıt Ol
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i>
                            Google ile Kayıt Ol
                        </a>
                    </div>

                    <a href="~/Login/WriterLogin" class="text-center">Üyeliğim Var</a>
                </div>
            </div>
        }

    </div>
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
</body>
</html>
