@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}
    <section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-4">
                <div class="info-about text-center">
                    <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">KULLANDIĞIM GELİŞTİRME BİLEŞENLERİ</h3>
                    <div class="row mt-lg-5 mt-3">
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">C# Programlama Değeri</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Entity Framework Code First</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Asp.Net MVC</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Solid Prensipleri</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 progress-info-content text-left">
                            <div class="progress-one my-lg-5" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">Kurumsal Mimari</h4>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="progress-one" data-aos="fade-up">
                                <h4 class="progress-tittle-w3">
                                    SQL Veri Tabanı
                                </h4>
                                <div class="progress">

                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services py-md-5 py-4" id="services">
        <div class="container">
            <div class="inner-sec-w3ls py-md-5 py-4">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Bu Projede Neler Yaptım ?</h3>
                <div class="price-right">
                    <div class="tabs">
                        <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Yaptıklarım 1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Yaptıklarım 2</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-list-ul mb-4"></i>
                                                    <h5 class="card-title text-uppercase">SQL Veri Tabanı</h5>
                                                    <p class="card-text">Projemde veri tabanı olarak MSSQL kullandım, Sunucuya taşırken windows hosting desteği olan bir sunucu üzerinde çalıştım.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-lightbulb mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Tasarım Araçları</h5>
                                                    <p class="card-text">Projenin frontend tarafında Html5, Css, Bootstrap, JavaScript, Jquery bileşenlerine yer vererek tasarım tarafını gerçekleştirdim.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-clone mb-4"></i>
                                                    <h5 class="card-title text-uppercase">Proje Kampı</h5>
                                                    <p class="card-text">100 Derslik Mvc Proje Kampı kapsamında her hafta düzenli olarak kendi yorumlarımı da katarak geliştirme yaptım.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="menu-grids mt-4">
                                    <div class="row t-in">
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="far fa-heart mb-4"></i>
                                                    <h5 class="card-title">Asp.Net Mvc5</h5>
                                                    <p class="card-text">Bu projeyi sektörün güncel geliştirme başlıklarından biri olan .Net Mvc5 ile geliştirdim.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-magic mb-4"></i>
                                                    <h5 class="card-title">N Katmanlı Mimari</h5>
                                                    <p class="card-text">Projemi Business, Entity, DataAccess ve Presentaion olmak üzere 4 temel katmanda geliştirdim.</p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4 service-in text-center">
                                            <div class="card">
                                                <div class="card-body">
                                                    <i class="fas fa-sliders-h mb-4"></i>
                                                    <h5 class="card-title">Solid Prensipleri</h5>
                                                    <p class="card-text">Solid Prensiplerini olabildiğince ezmeden ilerleyip doğru formatta kod yazmaya çalıştım.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery py-md-5 py-3" id="projects">
        <div class="gallery-inner container py-md-5 pb-3">
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
            <div class="row">
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/1.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/1.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/2.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/2.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/3.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/2.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/4.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/4.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/5.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/5.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/6.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/6.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                    <div class="section_1_gallery_grid">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/7.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/7.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/8.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/8.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="section_1_gallery_grid" data-aos="zoom-in">
                        <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Content/img/9.jpg">
                            <div class="section_1_gallery_grid1">
                                <img src="~/Content/img/9.jpg" alt=" " class="img-fluid" />
                                <div class="proj_gallery_grid1_pos">
                                    <h3>İNCELE</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="stats py-lg-5 py-4" id="stats">
        <div class="gallery-inner container py-md-5 py-4">
            <div class="row mt-lg-5 stats-con text-white">
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="far fa-lightbulb"></i>
                    <p class="counter">143</p>
                    <h4>Başlık Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid1">

                    <i class="far fa-heart"></i>
                    <p class="counter">1152</p>
                    <h4>Entry Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid">

                    <i class="fas fa-magic"></i>
                    <p class="counter">145</p>
                    <h4>Yazar Sayısı</h4>

                </div>
                <div class="col-sm-3 col-6 stats_info counter_grid2">

                    <i class="far fa-smile"></i>
                    <p class="counter">450</p>
                    <h4>Mesaj Sayısı</h4>

                </div>
            </div>
        </div>
    </section>
    <div class="testimonials py-lg-5 py-4" id="clients">
        <div class="testimonials-inner container py-lg-4 py-3">
            <h4 class="sub-tittle-w3 text-uppercase text-center">Kısa Notlar</h4>
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Projeye Dair</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="testimonials_grid center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Projeyi geliştirirken .net mvc5 ile solid prensiplerine uygun bir şekilde N tier arc. olarak adlandırılan n katmanlı mimari yapısını ezmeden ilerlemeye çalıştım.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid text-center">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Geliştirirken çok keyif aldım umarım sizler de bu projeyi beğenirsiniz, yorumlarınızı iletişim kısmından bana iletiniz.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonials_grid">
                            <div class="testimonials_grid-inn text-uppercase">
                                <i class="fas fa-quote-left"></i>
                                <p>Bu proje uzun süredir aklımda olan mvc dünyasına kurumsal mimari ile yaptığım 100 dersin sonunda ortaya çıkan güzel bir ürün oldu.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="fas fa-long-arrow-alt-left"></span>
                        <span class="sr-only">Geri</span>
                    </a>
                    <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                        <span class="sr-only">İleri</span>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="contact py-lg-5 py-md-5 py-3" id="contact">
        <div class="container">
            <div class="inner-sec-w3ls py-lg-5 py-3">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Benimle İletişime Geçebilirsiniz</h3>
                <div class="contact_grid_right">
                    @using (Html.BeginForm(null, null, FormMethod.Post))
                    {
                        <div class="row contact_left_grid">
                            <div class="col-md-6 con-left" data-aos="fade-up">
                                <div class="form-group">
                                    <input class="form-control" type="text" value="" name="Ad" placeholder="Adınız" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" value="" name="Email" placeholder="Email" required="">
                                </div>
                                <div class="form-group">

                                    <input class="form-control" type="text" value="" name="Konu" placeholder="Konu" required="">
                                </div>
                            </div>
                            <div class="col-md-6 con-right" data-aos="fade-up">
                                <div class="form-group">
                                    <textarea id="textarea" name="Mesaj" placeholder="Mesajınız" required=""></textarea>
                                </div>
                            </div>
                            <div class="sub-honey mx-auto mt-3">
                                <input class="form-control" type="submit" value="Gönder">
                            </div>
                        </div>
                        if (ViewBag.Success == true)
                        {
                            <span class="alert alert-success">Mesajınız Başarıyla Gönderilmiştir.</span>
                        }
                        if (ViewBag.Success == false)
                        {
                            <span class="alert alert-danger">Üzgünüm Şuan Mesaj Hizmeti Veremiyorum !</span>
                        }
                    }
                </div>
                <div class="address row mt-lg-5">
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Adres</h6>
                                <p>
                                    İstanbul, TR

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:mail@outlook.com">mail@outlook.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 address-grid" data-aos="flip-up">
                        <div class="address-info">
                            <div class="address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="address-right text-center">
                                <h6 class="my-3">Tel</h6>
                                <p>+90 123 456 78 89</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <iframe class="col-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10113.785700396345!2d28.79469657036052!3d41.09420084273079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caaf74cbc9474d%3A0xc7d8d8ecb388796c!2zQmHFn2FrIENlbnRlciBBbMSxxZ92ZXJpxZ8gTWVya2V6aQ!5e0!3m2!1str!2str!4v1625097238034!5m2!1str!2str" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </section>
    
