@{ ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops! Sayfa Bulunamadı.</h3>
            <p>Aradığınız sayfayı bulamadık ! :(</p>
        </div>
    </div>
</section>